html {
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
}


.text-title {
    font-size: 1.875rem;
    font-style: italic;
    margin: 30px 0;
}

.article-text {
    margin: 20px 20px;
    text-align: justify;
    line-height: 1.5;
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    margin: 40px 0;
    font-size: 3.75rem;
    font-family: 'Sacramento', cursive;
}

main {
    width: 100%;
}

.row {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.text-box {
    text-align: center;
    border: 1px solid black; 
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}

.story-image {
    width: 100%;
}

.three-quarter {
    width: 75%;
}

.menu {
    display: flex;
    flex-direction: column;
}

.nav-item {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.nav-item  a {
    font-family: 'B612 Mono', monospace;
    font-size: 30px;
    font-weight: 700;
    color: grey;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item:nth-child(1) {
    background-color: cornsilk;
}

.nav-item:nth-child(2) {
    background-color: deepskyblue;
}

.nav-item:nth-child(3) {
    background-color: darkseagreen;
}

.nav-item:nth-child(4) {
    background-color: teal;
}

.nav-item:nth-child(5) {
    background-color: blueviolet;
}